<%- include('../../common/includes/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../common/includes/header') %>
  <main>
    <h1>All Your Orders</h1>
    <%- include('../../common/includes/order-list')%>

  </main>