<%- include('includes/head.ejs',{pageTitle:"Error"}) %> 

</head>

<body>
    <%- include('includes/header.ejs') %>

    <main id="error-500">
        <h1>Something went wrong!</h1>
    <p>Unfortunately, something went wrong - please try again later.</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
</body>

</html>
 

