<%- include('../../common/includes/head', { pageTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-managment.js" defer></script>
</head>
<body>
  <%- include('../../common/includes/header') %>
  <main>
    <%- include('../../common/includes/order-list') %>
  </main>
</body>